<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Conor Mcgregor</h2>
            <h4>Notorious</h4>
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Conor_McGregor.jpg/220px-Conor_McGregor.jpg" alt="mma fighter">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

    <mat-divider></mat-divider>
    
    another menu 

    
</mat-nav-list>